        .nested-grid {
            display: grid;
            grid-template-columns: repeat(3, 200px); /* 8 columns in the nested grid */
            grid-template-rows: repeat(8, 100px); /* 3 rows in the nested grid */
            border: 2px solid gray;
            gap: 5px;
            grid-auto-flow: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        /* Style for each nested item */
        .nested-grid-item {
            padding: 10px;
            position: relative;
            background-color: darkgray;
            border: 1px solid #ddd;
            text-align: center;
            width: 100%;
            height: auto;
            box-sizing: border-box;
        }

        .nested-grid-item img {
            max-width: 100%;
            height: auto;
            object-fit: contain;
        }

        .move-log-entry {
            padding: 10px; // 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            width: 100%;
            height: auto;
        }


        @media screen and (max-width: 768px) {
            .nested-grid {
                /* Keep 3 columns but scale the content */
                grid-template-columns: repeat(3, 150px); /* Make columns smaller */
                grid-template-rows: repeat(8, 80px); /* Adjust row heights */
            }

            .nested-grid-item {
                font-size: 12px;
                padding: 5px
            }

            .nested-grid-item img {
                max-width: 80%;
                height: auto;
            }

        }





        .log-taxi {
            background-color: yellow;
            color: black;
        }
        .log-bus {
            background-color: green;
            color: white;
        }
        .log-underground {
            background-color: red;
            color: white;
        }
        .log-ferry {
            background-color: blue;
            color: white;
        }
        .mrx-reveal {
            background-color: black;
            color: white;
        }

        /* The content that will appear over the image */
        .overlay-content {
          position: absolute;
          top: 50%; /* Position content vertically in the center */
          left: 15%; /* Position content horizontally in the center */
          transform: translate(-50%, -50%); /* Adjust for true centering */
          color: white; /* Set text color */
          font-size: 24px;
          font-weight: bold;
          text-align: center; /* Center text */
          padding: 10px; /* Add padding for better readability */
          background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
          border-radius: 10px; /* Optional: round corners */
          z-index: 10; /* Ensure the content is above the image */
        }