<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplayer Game</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/maingrid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tickets.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movelog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">

    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>

    <div class="main-grid">
        <!-- Row 1: 3 columns -->
        <div class="cell cell-1">
            <!-- Player Name Input -->
            <div id="playerNameContainer">
                <h2>Enter your name:</h2>
                <input type="text" id="usernameInput" placeholder="Enter your name" />
                <input type="color" id="playerColor" >
                <button onclick="joinGame()">Join Game</button>
            </div>
        </div>

        <div class="cell cell-2">
            <div id="startGameContainer">
                <h2>Click to Start the Game:</h2>
                <button id="startGameButton" onclick="startGame()">Start Game</button>
            </div>
        </div>

        <div class="cell cell-3">
            <div id="playerStateContainer">
                <div id="role"></div>
                <div id="yourCurrentPosition">pos</div>
                <div id="detectiveLocations"></div>
                <div id="possibleMovesList">moves</div>
            </div>
        </div>

        <!-- Row 2: 1 cell spanning all columns -->
        <div class="cell cell-4">
            <!--Cell 4 (spans all columns) -->
            <div id="gameStateContainer">
                <div id="currentTurnPlayer"></div>
                <div id="mrxLocation"></div>
                <div id="detectiveLocations"></div>
                <!--<div id="mrxMoveLog"></div> -->
            </div>
        </div>

        <div id="ticketInventoryContainer" class="cell cell-6">
            <!--Cell 6 (3rd column)-->
            <div id="ticketInventory" class="tickets-nested-grid">
                <div id="ticketHeaderRow" class="tickets-header-row">
                    <div class="" style="grid-column: 1; grid-row: 1"></div>
                </div>

                <div id="ticketsTaxiRow" class="tickets-row">
                    <div class="ticket-type" style="grid-column: 1; grid-row: 2">
                        <img src="{{ url_for('static', filename='images/taxi.svg.png') }}" height="40px">
                    </div>
                </div>

                <div id="ticketsBusRow" class="tickets-row">
                    <div class="ticket-type" style="grid-column: 1; grid-row: 3">
                        <img src="{{ url_for('static', filename='images/bus.svg.png') }}" height="40px">
                    </div>
                </div>

                <div id="ticketsUndergroundRow" class="tickets-row">
                    <div class="ticket-type" style="grid-column: 1; grid-row: 4">
                        <img src="{{ url_for('static', filename='images/underground.svg.png') }}" height="40px">
                    </div>
                </div>


            </div>
        </div>


        <!-- Row 3: 2 cells, first spans 2 columns -->
        <div class="cell cell-5" style="grid-column: span 2;">
                <!--Cell 5 (spans left 2 columns)-->
                <!-- this is where the move buttons will go -->
            <div id="movesContainer">
            </div>
        </div>



        <!-- Row 4: 2 cells, first spans 2 columns, second contains a nested grid -->
        <div class="cell grid-map" style="grid-column: span 2;">
            <!--Cell 7 (spans left 2 columns)-->
            <div id="gameMapContainer">
                <img id="gameMap" src="static/images/SY_base_map.svg.png" width="1500">
            </div>
        </div>

        <div class="cell move-log">
            <!-- Nested 3x8 Grid inside Cell 8 -->
            <div id="mrx_move_log" class="nested-grid">
                <div id="mrx_move_0" class="nested-grid-item">Round 1</div>
                <div id="mrx_move_1" class="nested-grid-item">Round 2</div>
                <div id="mrx_move_2" class="nested-grid-item mrx-reveal">Mr. X Reveal</div>
                <div id="mrx_move_3" class="nested-grid-item">Round 4</div>
                <div id="mrx_move_4" class="nested-grid-item">Round 5</div>
                <div id="mrx_move_5" class="nested-grid-item">Round 6</div>
                <div id="mrx_move_6" class="nested-grid-item">Round 7</div>
                <div id="mrx_move_7" class="nested-grid-item mrx-reveal">Mr. X Reveal</div>
                <div id="mrx_move_8" class="nested-grid-item">Round 9</div>
                <div id="mrx_move_9" class="nested-grid-item">Round 10</div>
                <div id="mrx_move_10" class="nested-grid-item">Round 11</div>
                <div id="mrx_move_11" class="nested-grid-item">Round 12</div>
                <div id="mrx_move_12" class="nested-grid-item mrx-reveal">Mr. X Reveal</div>
                <div id="mrx_move_13" class="nested-grid-item">Round 14</div>
                <div id="mrx_move_14" class="nested-grid-item">Round 15</div>
                <div id="mrx_move_15" class="nested-grid-item">Round 16</div>
                <div id="mrx_move_16" class="nested-grid-item">Round 17</div>
                <div id="mrx_move_17" class="nested-grid-item mrx-reveal">Mr. X Reveal</div>
                <div id="mrx_move_18" class="nested-grid-item">Round 19</div>
                <div id="mrx_move_19" class="nested-grid-item">Round 20</div>
                <div id="mrx_move_20" class="nested-grid-item">Round 21</div>
                <div id="mrx_move_21" class="nested-grid-item">Round 22</div>
                <div id="mrx_move_22" class="nested-grid-item">Round 23</div>
                <div id="mrx_move_23" class="nested-grid-item mrx-reveal">Mr. X Reveal</div>
            </div>
        </div>
    </div>








        <!--
        <div id="chatContainer" class="cell cell-6">
            <div id="waitingMessage"></div>
            <div id="chat"></div>
            <input type="text" id="messageInput" placeholder="Type a message..." />
            <button id="sendButton" onclick="sendMessage()" disabled>Send</button>
        </div>
        -->
        <!--
        <div id="mrxMoveLog" class="move-log">

        </div>
        -->








    </div>








    <script src="https://cdn.socket.io/4.1.3/socket.io.min.js"></script>
    <script>
        let player_index; // 0 is Mr. X
        let playerId;
        let playerName;
        let player_color;
        let role;
        let socket;
        let isMyTurn = false; // Track if it's the player's turn
        let currentTurnPlayerId; // Store current turn player's ID
        let session_id;


        function update_role(role) {
                document.getElementById("role").innerHTML = `You are:  ${role}`;
        };


        function update_my_location(location) {
                document.getElementById("yourCurrentPosition").innerHTML = `You are currently at Stop Number ${location}`;
        };


        // this needs to be run on startup for each player for each client
        function add_player_to_ticket_grid(data) {
            console.log('adding player to ticket grid');
            console.log(data);

            // TODO:  update the Ticket Inventory Grid to add a column for our newly added player
                // modifiy the grid geometry
                // add the necessary divs for the new player
                // pray they go where we need them to

            // modify the grid to have an additional column when a player joins
            grid = document.getElementById("ticketInventory");
            style = window.getComputedStyle(grid);
            colArray = style.getPropertyValue('grid-template-columns').trim().split(' ');
            colCount = colArray.length;
            colArray.push('100px');
            grid.style.gridTemplateColumns = colArray.join(' ');


            // add the Player name cell
            var e = document.getElementById("ticketHeaderRow");
            d = document.createElement('div');

            d.id = 'tickets_name_' + data.name;
            d.classList.add('tickets-header-cell');
            d.textContent = data.name;
            d.style.backgroundColor = data.color;
            e.appendChild(d);


            // add the cells to hold the individual player ticket counts
            modes = ['Taxi', 'Bus', 'Underground'];

            modes.forEach(mode => {
                var element = document.getElementById('tickets' + mode + 'Row');
                div = document.createElement('div');
                div.id = mode.toLowerCase() + '_count_' + data.name;
                div.classList.add("ticket-cell");
                div.style.backgroundColor = data.color;
                element.appendChild(div);
            });

        };



        function set_initial_map() {
            var image = document.getElementById("gameMap");
            console.log(image.src)

            if (role == 'mrx') {
                var newSrc = "static/images/mrx_map.svg?t=1";
            } else {
                var newSrc = "static/images/public_map.svg?t=1";
            }

            image.src = newSrc;
        };


        function update_ticket_inventory(data) {
            console.log('Updating ticket counts...');
            console.log(data);

            data.ticket_inventory.forEach((player, i) => {
                document.getElementById(`taxi_count_${player.name}`).textContent = player.tickets.taxi;
                document.getElementById(`bus_count_${player.name}`).textContent = player.tickets.bus;
                document.getElementById(`underground_count_${player.name}`).textContent = player.tickets.underground;
            });


        };


        document.addEventListener('DOMContentLoaded', function() {
            socketUrl = io.connect(`http://${window.location.hostname}:${window.location.port}`);
            socket = io.connect(socketUrl);

            // Event listener for the connect event
            socket.on('connect', function() {
                console.log('Connected to server');
            });

            // Get session id
            socket.on('session_id', function(data) {
                session_id = data.session_id;
            });


            // [x] initial player locations on the map
            // [x] player & ticket inventories
            // [x] YOUR inventory & name should be highlighted somehow
            // [x] YOUR current location in the game state
            // [ ] Detective locations in the game state
            // [x] Your role in the game state
            // [x] Set player's color in the ticket inventory
            // this will initialize the entire game screen on a per-player basis
            socket.on('initialize', function(data) {
                console.log('INITIALIZING BOARD');
                console.log(data);

                // this event will be sent to each player separately

                update_role(data.player.role);
                update_my_location(data.player.position);
                //update_detective_locations(data.detective_locations);

                set_initial_map();

            });

            socket.on('initialize_ticket_grid', function(data) {
                console.log('Initializing ticket grid for all players...');
                console.log(data);

                data.players.forEach(person => {
                    add_player_to_ticket_grid(person);
                });

            });



            socket.on('waiting', function(data) {
                console.log('Waiting...');
                console.log(data);

                // Hide moves buttons
                document.getElementById("movesContainer").style.display = "none";

                // Update the current turn
                document.getElementById("currentTurnPlayer").innerHTML = `Waiting on ${data.waiting_on}...`
                document.getElementById("currentTurnPlayer").style.color = "#000000";

                // Show potential moves
                // TODO: is this even necessary?   Does anyone even look at it?
                var moves = '';
                data.potentialMovesList.forEach(function(move) {
                    moves = moves + '///' + move.destination + ' via ' + move.mode;
                });

                document.getElementById("possibleMovesList").innerHTML = moves;
                document.getElementById("possibleMovesList").style.display = "block";

            });


            socket.on('your_turn', function(data) {
                console.log('It is your turn...');
                console.log(data);

                document.getElementById("currentTurnPlayer").innerHTML = `It is your turn.`;
                document.getElementById("currentTurnPlayer").style.color = player_color;
                document.getElementById("possibleMovesList").style.display = "none";

                console.log("adding the buttons...");
                document.getElementById("movesContainer").style.display = "block";
                addMovesButtons(data.potentialMovesList);

            });

            socket.on('update_tickets', function(data) {
                console.log('Updating ticket counts...');
                console.log(data);

                // todo:  mr. x doesn't have a ticket inventory to update on the screen; throws a harmless error
                // this is the ticket inventory for each person:
                // [{name, inventory}, {name, inventory}, ...]

                update_ticket_inventory(data);

            });


            socket.on('update_map', function(data) {
                console.log('updating map & move log');
                console.log(data)

                var image = document.getElementById("gameMap");

                if (role == 'mrx') {
                    var newSrc = "static/images/mrx_map.svg";
                } else {
                    var newSrc = "static/images/public_map.svg";
                }

                // this will force the new image to load
                image.src = newSrc.split('?')[0] + '?t=' + new Date().getTime();

                data.mrx_move_log.forEach((move, index) => {
                    console.log("iterating over the move log");
                    console.log(index, move);
                    console.log(`mrx_move_${index}`);

                    move_log_entry = document.getElementById(`mrx_move_${index}`)

                    move_log_entry.innerHTML = '';

                    img = document.createElement('img');
                    img.src = `static/images/${move.mode}.svg.png`;
                    img.height = "60";
                    move_log_entry.appendChild(img);

                    move_log_entry.classList.remove('mrx-reveal');

                });

            });


            socket.on('game_over', function(data) {
                console.log('Game over!!!!!!!!!!!!!!!!!!');

                document.getElementById('currentTurnPlayer').innerHTML = data.win_message;

                socket.emit('end_game', { } );
            });

        });


        function joinGame() {
            console.log('joining game....');

            // Get the username input value
            playerName = document.getElementById("usernameInput").value;
            playerColor = document.getElementById("playerColor").value;
            if (playerName.trim() === "") {
                alert("Please enter a username!");
                return;
            }

            // Check if the game is already started (we don't want to start it again)
            if (playerId) {
                alert("Game already started!");
                return;
            }

            // Hide the username prompt and show the chat container
            document.getElementById("playerNameContainer").style.display = "none";

            // Generate a unique player ID (you can use UUIDs or simple counters)
            playerId = generatePlayerId();

            // Send player information (username and playerId) to the server
            console.log('color= ', playerColor);
            player_color = playerColor;
            socket.emit('new_player', { playerId, playerName, playerColor });





            // Receive player state
            socket.on('initial_player_state', function(data) {
                console.log('Receiving initial_player_state as part of joinGame()');
                console.log(data);

                player_index = data.player_index;

                if (data.role == 'Mr. X') {
                    console.log('your role is ---' + data.role + '---');
                    role = 'mrx';
                    document.getElementById("startGameContainer").style.display = "block"; // show the start game button
                    //document.getElementById("starGameButton").disabled = false; // Enable the send button
                } else {
                    role = 'detective';
                    console.log('you are not Mr. X, you are ---' + data.role + '---');
                    document.getElementById("startGameContainer").style.display = "none"; // hide the start game button
                }
            });

        };


        // When the player clicks "Start Game", this function is called
        function startGame() {
            // enable current player, disable others
            console.log('starting game...');

            document.getElementById("startGameContainer").style.display = "none"; // hide the start button

            socket.emit('start_game', { } );

            socket.emit('initiate_turn', { } );
        };



        function addMovesButtons(moves) {
            console.log('adding buttons...');
            console.log(moves);

            var container = document.getElementById("movesContainer");

            //clear contents
            container.innerHTML = '';

            //add a button for each possible move
            moves.forEach(function(move) {
                console.log(move);

                var button = document.createElement('button');
                button.textContent = `${move.destination} via ${move.mode}`;
                button.classList.add(`btn`);
                button.classList.add(`btn-${move.mode}`);

                button.onclick = function() {
                    console.log('Move requested for ' + move.destination + ' via ' + move.mode);

                    handleMove(move.destination, move.mode);
                };

                container.appendChild(button);
            });
        };



        function handleMove(destination, mode) {
            console.log("Player selected move: ", destination, "via", mode);

            document.getElementById("yourCurrentPosition").textContent = 'You are currently at Stop Number ' + destination;

            socket.emit('player_move', {destination: destination, mode: mode});

            document.getElementById("movesContainer").style.display = "none";
        };



        // Function to generate a simple unique player ID (you could use a UUID library)
        function generatePlayerId() {
            return 'player-' + Math.random().toString(36).substr(2, 9); // Simple unique ID
        }



            // Listen for Enter key press to send the message
        //    const messageInput = document.getElementById("messageInput");
        //    messageInput.addEventListener("keydown", function(event) {
        //        if (event.key === "Enter" && isMyTurn) {
        //            // Prevent the default "Enter" behavior (like form submission)
        //            event.preventDefault();
        //            sendMessage();
        //        }
        //    });
        //}



        // Send a message to the server
        //function sendMessage() {
        //    const messageInput = document.getElementById("messageInput");
        //    const message = messageInput.value;

        //    if (message) {
        //        socket.emit('message', { playerId, playerName, message });
        //        messageInput.value = ''; // Clear the input field
        //        socket.emit('end_turn', { playerId }); // End the player's turn
        //    }
        //};
    </script>
</body>
</html>
